/* 全体 */
* {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* がちゃ１の結果 */
#result1 {
    display: none;
    margin: 10px;
}

/* ボタン */
.btn {
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #111;
    margin-top: 10px;
    padding: 10px 20px;
}

/* テーブル */
table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
}

thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #04162e;
}

thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}

tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}

td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

/* リスト */
ul {
    list-style-type: none;
}

li {
    margin-top: 5px;
}

/* フッター */
#footer {
    margin-top: 10px;
}
